# dependencies
node_modules/

# build output
dist/
build/

# local env files
.env
.env.local
.env.*.local

# logs
logs/

# lock files
bun.lock
bun.lockb
pnpm-lock.yaml
yarn.lock
package-lock.json

# IDE
.vscode/
.idea/

# drizzle-orm
drizzle/
.voasx/
sqlite.db

# video files
*.mp4
.hls-output/

# project specific
apps/deploykit-server/public
apps/deploykit-server/data.json

# macOS
.DS_Store
